/* #region base reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  border: 0;
}

/* #endregion */

/* #region base set */
body {
  color: #434455;
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/* #region header */
/* logo header-footer */
.logo-header {
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-footer {
  width: 115px;
  height: 24px;
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-bottom: 24px;
  padding-top: 20px;
}

.color-studio-header {
  color: #2e2f42;
}

.color-studio-footer {
  color: #f4f4fd;
}

.header {
  background-color: #ffffff;
  opacity: 1;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* navigation header */

.navigation-header {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

/* address header */

.address-header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding-bottom: 24px;
  padding-top: 20px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-header-link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-header-link:hover,
.address-header-link:focus {
  color: #404bbf;
}

.navigation-link.active {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.navigation-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  top: 96%;
  right: 0%;
  bottom: -1px;
}

/* #endregion */

/* #region hero title section */

.hero-section {
  padding: 188px 0;
  background-color: #2e2f42;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-size: 56px;
  max-width: 496px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 45px;
}

.button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  display: block;
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region advantages section */


.advantages-section-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantages-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.strategy-title-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.punctuality-title-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.diligence-title-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.technologies-title-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region our team section */

.team {
  background-color: #f4f4fd;
}

.our-team-section {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
}



.logo-item {
  fill: #f4f4fd;
}

.team-icon-item {
  width: 40px;
  height: 40px;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-circle:hover,
.icon-circle:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region our portfolio section */

.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.our-portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-wrapper {
  position: relative;
    overflow: hidden;
}

.our-portfolio-item:hover .portfolio-overlay {
  transform: translatey(0%);
}

.our-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.service-container {
  padding: 32px 16px;
  border-top: none;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}


.portfolio-overlay {
  width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region footer section */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  
}

.footer-logo-container {
  margin-right: 120px;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  font-family: "Roboto", sans-serif;
}

.footer-media-container {
  display: flex;
  flex-direction: column;
  width: 208px;
}

.footer-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;

}

.media-icon-list {
  display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    gap: 16px;
}

.media-icon-item {
  width: 40px;
  height: 40px;
}

.icon-circle-footer {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-item-footer {
  fill: #f4f4fd
}


.icon-circle-footer:hover,
.icon-circle-footer:focus {
  background-color: #31D0AA;
}





/* #endregion */
